body {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flaxible-container {
    display: flex;
    margin-bottom: 150px;
    margin-left: 0px;
}

.half-width {
    width: 40%;
    padding-left: 2%;
    margin-top: 40px;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    text-overflow: clip;
}

.dream-big img {
    width: 80%;
}

.last-div {
    width: 50%;
    margin-right: 20px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer {
    text-align: center;
    background-color: orange;
    border-radius: 15px;
    margin: 1px 1px;
}